:root {
    --color-white: #FFFFFF;
    --color-main: #EEBE00;
    --color-green: #97C300;
    --color-border: #EEEEEE;
    --color-text-primary: #444444;
    --color-text-secondary: #8C8C8C;

    --color-button-primary: var(--color-main);
    --color-button-secondary: #F1F1F1;
}